@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow|Bungee+Inline');

body p {
    letter-spacing: 2px;
    font-family: 'Bungee+Inline', sans-serif;
    font-weight: 500;
}

/*--------------navigation-bar------------------------*/

.btn-default {
    color: #333;
    background-color: #0a0a0a;
    border-color: #ffaa6a;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #fb9600;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    border: 1px solid #ff9b00;
    background-image: none;
    /* border: 1px solid transparent; */
    border-radius: 4px;
}

.nav-justified>li>a {
    margin-bottom: 5px;
    text-align: center;
    letter-spacing: 5px;
}

#intro {
    padding-top: 30px;
}

/*--------------navigation-bar-end------------------------*/

/*--------------Headings----------------------------------*/

.video-header h2 {
    text-align: center;
    font-size: 50px;

}

.sub-header {
    color: #f5efd5;
    text-align: center;
    padding-bottom: 15px;


}

.video-player-heading h2 {
    text-align: center;
    font-size: 45px;
    color: aliceblue;
}



.container-header h1 {
    text-align: center;
}

.the-band-heading h2 {}

.gallery-heading h2 {
    font-family: 'Archivo+Narrow', sans-serif;
    color: black;
    text-align: center;
    letter-spacing: 5px;
    padding-bottom: 20px;
    font-size: -webkit-xxx-large;
}

.the-band-heading h2 {
    color: black;
    text-align: center;
    letter-spacing: 5px;
    padding-bottom: 20px;
    font-size: -webkit-xxx-large;
}

.container-bio h3 {
    text-align: center;
}


.hire-us-header h2 {
    color: aliceblue;
    text-align: center;
    font-size: 54px;
    letter-spacing: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.audio-video-heading h2 {
    text-align: center;
    font-size: 45px;
    padding-top: 16px;
    padding-bottom: 35px;
    color: aliceblue;
}

.song-headers h3 {
    text-align: center;
    color: cornsilk;
    margin-bottom: 25px;
}



/*------------------------------------------------------header-------------------------------*/

a {
    color: #ff9b00;
    text-decoration: none;
}

.logo {
    font-family: 'Archivo+Narrow', sans-serif;
}

.logo,
h1 {
    font-size: 70px;
    color: #ff9800;
    padding-top: 30px;
    padding-bottom: 10px;
    letter-spacing: 10px;
    text-align: center;
}


.intro p {
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    font-family: 'Bungee+Inline', sans-serif;

}

/*-------------------------------------------------------------------------------------------gallery-------------*/

/*---------------https://www.youtube.com/watch?v=C1B1Fx3XKOg&t=92s-------------*/

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}



.thumbnail img {
    width: 300px;
    height: 300px;
    filter: grayscale(100%);
    transition: transform 2s;
}

.thumbnail img:hover {
    filter: grayscale(0);

    border-color: #f07f03;
}

.img-thumbnail {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: transparent;
    border: 5px solid #797575;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}






/*----------------------------------------------bio----------------------------*/

.img-circle {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    width: 300px;
}

.bio-text-dj {
    margin-top: 57px;
}

.bio-text-pt {
    margin-top: 57px;

}

.bio-text-md {
    margin-top: 57px;
    margin-right: 70px;
    margin-left: 20px;
}

.bio-text-mn {
    margin-top: 57px;
    margin-right: 70px;
    margin-left: 20px;
    margin-bottom: 20px;
}


.bio-text p {}


/*----------------------bg-colors/images------------------*/

.bio-bg-color {
    background-color: #d980005e;
}

.gallery-bg-color {
    background: url(../images/matt-jones-94160-unsplash.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 1000;


}

.audio-bg-color {
    background-color: #8f9186;
}

.hire-us-bg-color {
    background: url(../images/aaron-paul-213841-unsplash.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
}

.header-bg-color {
    background: url(../images/monkees-large.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 1000;
    width: 100vw;
    height: 100vh;

}

/*---------------------------------------------audio----------------------------*/

.audio-player {
    padding-bottom: 20px;
    padding-left: 35px;

}

.song-paragraph p {
    letter-spacing: 2px;
    color: aliceblue;
    margin-bottom: 25px;
    margin-top: 25px;

}

/*----------------------------------------------video---------------------------*/

.video-player {
    text-align: center;
}

.video-paragraph p {
    font-family: 'Bungee+Inline', sans-serif;
    font-weight: 800;
    padding-top: 25px;
    padding-bottom: 25px;
    color: aliceblue;
    padding-left: 10px;
    padding-right: 10px;
}



/*----------------hire us--------------------------------------------------------*/

.hire-us-paragraph p {
    margin: 0 0 10px;
    color: aliceblue;
    letter-spacing: 2px;
    font-weight: 600;
    padding-bottom: 20px;
    padding-top: 15px;
    padding-right: 20px;
    padding-left: 20px;
}

.form-attributes {
    padding-left: 20px;
    padding-right: 20px;
}

/*----------------------------------------footer-----------------------*/

footer {
    background-color: #0a0a0a;
    padding-top: 15px;
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
    text-align: center;
}

.list-inline>li {
    display: inline-block;
    display: inline-block;
    padding-right: 35px;
    padding-left: 35px;
    height: 20px;
}

.btn btn-primary {}



@media(min-width:453px) {
    .header {

        width: 100vw;
        height: 100vh;
    }
}

@media only screen and (min-width: 453px) {
    .hire-us-bg-color {

        width: 100vw;
        height: 100vh;
    }
}
