@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow:100.200,300,400,500,600,700,800|Bungee+Inline:100,200,300,400,500,600,700,800');

/*--------------navigation-bar------------------------*/

.btn-default {
    color: #333;
    background-color: #0a0a0a;
    border-color: #ffaa6a;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #fb9600;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    border: 1px solid #ff9b00;
    background-image: none;
    /* border: 1px solid transparent; */
    border-radius: 4px;
}

.nav-justified>li>a {
    margin-bottom: 5px;
    text-align: center;
    letter-spacing: 5px;
}

/*--------------navigation-bar-end------------------------*/

/*--------------Headings----------------------------------*/

.header,
h2 {
    color: #f5efd5;
    padding-left: 16px;
    padding-bottom: 7px;
    padding-top: 15px;
}

.the-band-heading h2 {
    color: green;
}

.gallery-heading h2 {
    color: red;
}

.gallery-heading h2 {
    color: red;
}

.hire-us-header h2 {
    color: yellow;
}

/*------------------ headings end---------------------------*/

header {
    background: url(../images/monkees-large.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 1000;
    height: 100vh;
    width: 100vw;
}

a {
    color: #ff9b00;
    text-decoration: none;
}

.logo {
    font-family: "Bungee+Inline";
}

.logo,
h1 {
    font-size: 70px;
    color: #ff9800;
}

p,
.intro {
    color: white;
    padding-left: 15px;
    padding-right: 50px;
}



/*---------------https://www.youtube.com/watch?v=C1B1Fx3XKOg&t=92s-------------*/

.thumbnail img {
    width: 300px;
    height: 300px;
    filter: grayscale(100%);
    transition: transform 2s;
}

.thumbnail img:hover {
    filter: grayscale(0);
    transform: scale(1:2);

}
.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.hire-us-paragraph p {}

/*--------------media-queries------------------------*/

@media only screen and (min-width: 992px) {
    .sub-header,
    h2 {
        font-size: 40px;
        padding-left: 60px;
        float: left;
    }
}


.container-bio p {}

.container-bio img {}

/*------------ image gallery--------------*/

.image-gallery-images img {}

/*------------ image gallery end--------------*/

/*----------------hire us----------------------*/

.hire-us-paragraph p {
    color: orange;
}

/*----------------------bg-colors------------------*/

.bio-bg-color {
    background-color: #d980005e;
}

.gallery-bg-color {
    background: url(../images/matt-jones-94160-unsplash.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 1000;
    
    
}

.audio-bg-color {
    background-color: purple;
}

.hire-us-bg-color {
    background-color: blue;
}

.the-band-heading h2 {
    color: black;
    text-align: center;
    letter-spacing: 5px;
    padding-bottom: 20px;
}
